html {
    height:100vh;
}


body {
    height: 100%;
    background-color: #EEE;
    font-family: 'Lato',
    sans-serif;
    text-align: center;
    position:relative;
    margin: 0;
    padding: 0;
}


h1 {
    padding-top: 150px;
    margin-top:0;

}

h1, p {
    color: #333;
    font-family: 'Lato',
    sans-serif;
}

.phrase {
    padding:1rem;
}

cite, small {
    display:block;
}

footer {
    text-align:right;
    padding-top: 15rem;
}

a {
    text-decoration: none;
    color:black;
}

i {
    color:green;
    font-size:1.5rem;
}

/* .title {
    font-size: 60px;
}

.description {
    font-size: 30px;
} */